
html {
	height: 100%;

	body {
		height: inherit;

		.navbar {
			font-size: 2em;
			background-color: #070B40;

			.navbar-brand {
				font-size: 1.5em;
				color: white;

			}
		}

		#featured-container {

			text-align: center;
			margin: 25px auto;

			#featured-track {
				background-color: #BABBC5;
				border-radius: 10px;
				margin: 25px 0;
				text-align: left;
				
				.track-picture {
					height: 300px;
					
					img {
						margin-top: 50px;
					}
				}

				.track-info {
					margin-top: 50px;
				}
			}
		}

		#search-container {
			.btn {
				width: 100%;
				background-color: #FF7800;

				&:hover {
					cursor: pointer;
				}
			}
		}

		#results-container {
			#result {
				.fa-play,.fa-stop {
					&:hover {
						cursor: pointer;	
					}
				}

				#track-file {
					font-size: 0px;
				}


			}
		}



	}
}


img {
	height: 200px;
	width: 200px;
}